.terms {
    margin-top: 162px;
    padding-bottom: 45px;
    color: #FFFFFF;
    text-align: justify;

    &__title {
        line-height: 20px;
        font-weight: 900;
        color: #F2C94C;
        text-transform: uppercase;
        text-align: center;
    }
    &__text {
        margin: 46px 50px 0;
    }
    &__chapter {
        font-weight: 700;
    }
    &__description {
        font-weight: 400;
    }
    &__description_strong {
        margin-top: 0;
        font-weight: 900;
        text-transform: uppercase;
    }
    &__description_no-margin {
        margin: 0;
    }
    &__description_no-margin-botom {
        margin-bottom: 0;
    }
}